body {
    text-align: center;
    font-family: Lato, sans-serif;
    background-image: url(../img/stage.jpg);
    background-size: 100%;
    font-weight: bold;
}
@font-face {
    font-family: Lato;
    src: url("../fonts/Lato.ttf");
}
.introbox {
    width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
}
.introtext {
    background: rgba(255, 255, 255, 0.5);
    border: 5px inset white;
    border-radius: 20px;
    margin-bottom: 80px;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    white-space: pre-line;
}
h3 {
    font-size: 30px;
}
.links {
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    background: #2cbda5;
    background-image: linear-gradient(to top, #423524 0%, #eacda3 100%);
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.links:hover {
    background: #38c5de;
    background-image: linear-gradient(to bottom, #eacda3, #994d00);
    text-decoration: none;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        background-size: 120%;
    }
    .introbox {
        width: 900px;
    }
    .introtext {
        margin-bottom: 160px;
    }
    h1 {
        font-size: 52px;
    }
    h2 {
        font-size: 40px;
        white-space: pre-line;
    }
    h3 {
        font-size: 32px;
    }
    .links {
        font-size: 32px;
        padding: 20px;
        margin-top: 60px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    body {
        background-size: 125%;
    }
    .introbox {
        width: 900px;
        margin-top: 100px;
    }
    .introtext {
        margin-bottom: 180px;
        padding-bottom: 20px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    .links {
        font-size: 50px;
        padding: 30px;
        margin-top: 60px;
        width: 500px;
    }
}